absl-py==2.1.0
aiohappyeyeballs==2.4.4
aiohttp==3.11.11
aiohttp-retry==2.8.3
aiosignal==1.3.2
app==0.0.1
asgiref==3.8.1
asttokens==2.4.1
astunparse==1.6.3
attrs==24.3.0
autobahn==24.4.2
Automat==24.8.1
beautifulsoup4==4.12.3
blinker==1.8.2
certifi==2024.12.14
cffi==1.17.0
channels==4.1.0
channels-redis==4.2.0
charset-normalizer==3.4.1
click==8.1.7
colorama==0.4.6
confusable-homoglyphs==3.1.1
constantly==23.10.4
crispy-bootstrap4==2024.10
cryptography==43.0.0
daphne==4.1.2
dash==2.17.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
decorator==5.1.1
deepface==0.0.93
dj-database-url==0.5.0
Django==5.1.4
django-annoying==0.10.4
django-autoslug==1.9.9
django-bootstrap-v5==1.0.11
django-bootstrap3==10.0.1
django-bootstrap5==24.2
django-crispy-forms==2.3
django-heroku==0.3.1
django-jalali==6.2.1
django-jalali-date==1.1.0
django-qrcode==0.3
django-registration==2.4.1
django-widget-tweaks==1.5.0
djangorestframework==3.15.2
drf-yasg==1.21.7
executing==2.0.1
filelock==3.16.1
fire==0.7.0
Flask==3.0.3
Flask-Cors==5.0.0
flatbuffers==24.3.25
frozenlist==1.5.0
gast==0.6.0
gdown==5.2.0
google-pasta==0.2.0
grpcio==1.68.1
gunicorn==19.9.0
h5py==3.12.1
hyperlink==21.0.0
idna==3.10
importlib_metadata==8.4.0
incremental==24.7.2
inflection==0.5.1
itsdangerous==2.2.0
jalali_core==1.0.0
jdatetime==5.0.0
jedi==0.19.1
Jinja2==3.1.4
joblib==1.4.2
kavenegar==1.1.2
keras==3.7.0
Khayyam==3.0.17
libclang==18.1.1
lz4==4.3.3
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib-inline==0.1.6
mdurl==0.1.2
ml-dtypes==0.4.1
msgpack==1.0.8
mtcnn==1.0.0
multidict==6.1.0
namex==0.0.8
nest-asyncio==1.6.0
numpy==2.0.2
opencv-python==4.10.0.84
opt_einsum==3.4.0
optree==0.13.1
packaging==24.1
pandas==2.2.2
parso==0.8.3
pillow==11.0.0
plotly==5.23.0
prompt-toolkit==3.0.43
propcache==0.2.1
protobuf==5.29.1
psycopg2==2.9.9
pure-eval==0.2.2
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser==2.22
Pygments==2.17.2
PyJWT==2.10.1
pyOpenSSL==24.2.1
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-decouple==3.1
pytz==2023.3.post1
PyYAML==6.0.1
redis==5.0.8
requests==2.32.3
retina-face==0.0.17
retrying==1.3.4
rich==13.9.4
routing==0.2.0
scikit-learn==1.5.1
scikit-surprise==1.1.4
scipy==1.14.1
service-identity==24.1.0
six==1.16.0
soupsieve==2.5
sqlparse==0.5.3
stack-data==0.6.3
surprise==0.1
tenacity==9.0.0
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
tensorflow-io-gcs-filesystem==0.37.1
termcolor==2.5.0
threadpoolctl==3.5.0
tqdm==4.67.1
traitlets==5.14.1
twilio==9.4.1
Twisted==24.7.0
txaio==23.1.1
typing_extensions==4.12.2
tzdata==2024.1
uritemplate==4.1.1
urllib3==2.3.0
wcwidth==0.2.13
Werkzeug==3.0.4
whitenoise==3.3.1
wrapt==1.17.0
yarl==1.18.3
zipp==3.20.1
zope.interface==7.0.1
